<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <ADM_AbandonedCart>
            <version>0.1.2</version>
        </ADM_AbandonedCart>
    </modules>
    <global>
        <blocks>
            <adm_abandonedcart>
                <class>ADM_AbandonedCart_Block</class>
            </adm_abandonedcart>
        </blocks>
        <helpers>
            <adm_abandonedcart>
                <class>ADM_AbandonedCart_Helper</class>
            </adm_abandonedcart>
        </helpers>    
        <models>
            <adm_abandonedcart>
                <class>ADM_AbandonedCart_Model</class>
                <resourceModel>adm_abandonedcart_resource</resourceModel>
            </adm_abandonedcart>
            <adm_abandonedcart_resource>
                <class>ADM_AbandonedCart_Model_Resource</class>
                <entities>
                    <followup>
                        <table>adm_abandonedcart_followup</table>
                    </followup>
                    <tracker>
                        <table>adm_abandonedcart_tracker</table>
                    </tracker>
                </entities>
            </adm_abandonedcart_resource>
        </models>
        <resources>
            <adm_abandonedcart_setup>
                <setup>
                    <module>ADM_AbandonedCart</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </adm_abandonedcart_setup>
        </resources>
        <template>
            <email>
                <abandonedcart_offset1_template translate="label" module="adm_abandonedcart">
                    <label>Abandoned cart first reminder</label>
                    <file>adm/abandonedcart_followup_email.html</file>
                    <type>html</type>
                </abandonedcart_offset1_template>
                <abandonedcart_offset2_template translate="label" module="adm_abandonedcart">
                    <label>Abandoned cart second reminder</label>
                    <file>adm/abandonedcart_followup_email.html</file>
                    <type>html</type>
                </abandonedcart_offset2_template>
                <abandonedcart_offset3_template translate="label" module="adm_abandonedcart">
                    <label>Abandoned cart third reminder</label>
                    <file>adm/abandonedcart_followup_email.html</file>
                    <type>html</type>
                </abandonedcart_offset3_template>
                <abandonedcart_admin_template translate="label" module="adm_abandonedcart">
                    <label>Abandoned cart manual admin reminder</label>
                    <file>adm/abandonedcart_followup_email.html</file>
                    <type>html</type>
                </abandonedcart_admin_template>                
            </email>
        </template>        
        <events>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <adm_abandonedcart>
                    <file>adm/abandonedcart.xml</file>
                </adm_abandonedcart>
            </updates>
        </layout>
        <routers>
            <adm_abandonedcart>
                <use>standard</use>
                <args>
                    <module>ADM_AbandonedCart</module>
                    <frontName>abandonedcart</frontName>
                </args>
            </adm_abandonedcart>
        </routers>
        <translate>
            <modules>
                <ADM_AbandonedCart>
                    <files>
                        <default>ADM_AbandonedCart.csv</default>
                    </files>
                </ADM_AbandonedCart>
            </modules>
        </translate>
        <events>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <ADM_AbandonedCart>
                    <files>
                        <default>ADM_AbandonedCart.csv</default>
                    </files>
                </ADM_AbandonedCart>
            </modules>
        </translate>    
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ADM_AbandonedCart before="Mage_Adminhtml">ADM_AbandonedCart_Adminhtml</ADM_AbandonedCart>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>    
    <crontab>
        <jobs>
            <adm_abandonedcart>
                <schedule>
                    <cron_expr>*/30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>adm_abandonedcart/observer::registerAbandonedCartAndSendFirstMail</model>
                </run>
            </adm_abandonedcart>
        </jobs>
    </crontab>    
    <default>
            <abandonedcart>
                <general>
                    <email_identity>general</email_identity>
                </general>
                <offset1>
                    <delay>24</delay>
                    <template>abandonedcart_offset1_template</template>
                </offset1>
                <offset2>
                    <template>abandonedcart_offset2_template</template>
                </offset2>
                <offset3>
                    <template>abandonedcart_offset3_template</template>
                </offset3>
                <admin>
                    <template>abandonedcart_admin_template</template>
                </admin>
                <utm_parameters>
                    <utm_source>magento</utm_source>
                    <utm_medium>email</utm_medium>
                    <utm_term></utm_term>
                    <utm_content></utm_content>
                    <utm_campaign>abandonedcart</utm_campaign>
                </utm_parameters>
            </abandonedcart>
    </default>
</config>